body {
    font-family:monospace;
    color: white;
    background:#8996b4;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

#darkmodecomp {
    position:fixed;
    z-index: -100;
    left: 0;
    bottom: 0;
    animation: fade-up 3s;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 100%;
}

@keyframes fade-up {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#UI {
    margin-left: 5%;
}

h1 {
    text-align: left;
    font-size: 6vh;
    margin: 7vh 0 5vh 0;
    padding: 0;
    font-weight: bold;
}


ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 2vh;
    margin: 2vh 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover  {
    font-weight: bold;
    text-decoration: underline;
}

#guestbook {
    color:aqua;
}

img {
    size: 5%;
}

#accessibility {
    position: fixed;
    bottom: 0;
    margin-bottom: 3vh;
    color: #babcdd;
    font-size: 1.5vh;
}
